  <!-- Divider -->
  <hr class="divider-d">
  <!-- Divider -->

  <!-- Footer start -->
  <footer class="footer bg-dark">
    <div class="container">

      <div class="row">

        <div class="col-sm-6">
          <p class="copyright">© 2016 <a href="index.html">Magnificent Eyes</a>, All Rights Reserved.</p>
        </div>

        <div class="col-sm-6">
          <div class="footer-social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <!--<a href="#"><i class="fa fa-dribbble"></i></a> -->
            <!--<a href="#"><i class="fa fa-skype"></i></a> -->
          </div>
        </div>

      </div><!-- .row -->

    </div>
  </footer>
  <!-- Footer end -->

<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>