<div class="container">
  <div class="jumbotron">

    <h4 *ngIf="auth.isAuthenticated()">
      User Groups
    </h4>
    <h5 *ngIf="auth.isAuthenticated()">Modify user groups and users in them.</h5>

    <h4 *ngIf="!auth.isAuthenticated()">
      You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
    </h4>

  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="well bs-component">
    
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0">
      <!--<div class="col-xs-1 col-xs-offset-0">
        &nbsp;
      </div>-->
      <div class="col-xs-12 col-xs-offset-0">
        <select

          class="form-control"
          size="1"
        >
          <option>Select a group to view or modify</option>
        </select>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0">
        <div class="col-xs-4 col-xs-offset-0">
          <select
            class="form-control"
            size="20"
          >
          <option>Users In group</option>
          </select>
        </div>
        <div class="col-xs-4 col-xs-offset-0">
          <select
            class="form-control"
            size="20"
          >
            <option>Assigned group Privileges</option>
          </select>
        </div>
        <div class="col-xs-4 col-xs-offset-0">
          <select
            class="form-control"
            size="20"
          >
            <option>Available group Privileges</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
