<!-- Navigation start -->
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page bg-dark-90" role="navigation">
    <!-- navbar-transparent navbar-fixed-top  one-page-->
       <div class="bg-dark-90">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle bg-dark-90" data-toggle="collapse" data-target="#custom-collapse">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <!-- <a class="navbar-brand bg-dark-90" href="index.html"> -->
                   <!-- <img src="assets/images/logo-light.png"  alt="Genova"> -->
               <!-- </a> -->
           </div>
           <div class="collapse navbar-collapse" id="custom-collapse">
               <ul class="nav navbar-nav navbar-center">
                   <li><a href="#totop">Home</a></li>
                   <li><a href="#about" class="section-scroll">About</a></li>
                   <li><a href="#prices" class="section-scroll">Services</a></li>
                   <li><a href="#gallery" class="section-scroll">Gallery</a></li>
                   <li><a href="#booking" class="section-scroll">Booking</a></li>
                   <!--<li><a href="#contact" class="section-scroll">Contact</a></li>--> <!-- Create a contact section then re-enable -->
               </ul>
           </div>
       </div>
   </nav>
   <!-- Navigation end -->