<app-dashboard-menu>Loading...</app-dashboard-menu>
<nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix" *ngIf="auth.isAuthenticated()">
  <ul class="nav bs-docs-sidenav">
    <li role="presentation" class="active"><a href="#">Galleries</a></li>
    <!--<li role="presentation"><a href="#">Gallery Types</a></li>-->
    <li role="presentation"><a href="#">Gallery Groups</a></li>
    <li role="presentation"><a href="#">Gallery Object Types</a></li>
    <li role="presentation"><a href="#">Gallery Display Objects</a></li>
    <li role="presentation"><a href="#">Gallery Container Types</a></li>
    <li role="presentation"><a href="#">Gallery Containers</a></li>
    <li role="presentation"><a href="#">Gallery Relationships</a></li>
    <li role="presentation"><a href="#">Gallery Statistics</a></li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="jumbotron">

        <h4 *ngIf="auth.isAuthenticated()">
          Manage Galleries
        </h4>
        <h5 *ngIf="auth.isAuthenticated()">
          Manage all media galleries, from the site specific galleries, to the specialized galleries designed to present certain themed media.
        </h5>

        <h4 *ngIf="!auth.isAuthenticated()">
          You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
        </h4>
      </div>
    </div>
  </div>
</div>  
<!--
<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>View Gallery Types</h5>
        <select
          class="form-control"
          size="5"
        >
          <option>Select gallery type to view or modify</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery Type</h5>
        <form>
          <input 
            type="text"
            class="form-control"
            placeholder="Gallery type name"
          >
          <input
            type="text"
            class="form-control"
            placeholder="Gallery type description"
          >
        </form>
      </div>
    </div>
  </div>
</div>  
-->
<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery Group</h5>

         <h5><i>Select gallery object to view or modify</i></h5>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Group Name</th>
              <th>Group Description</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let galleryGroupType of galleryGroupTypes">
              <td>{{galleryGroupType.group_type_id}}</td>
              <td>{{galleryGroupType.group_name}}</td>
              <td></td>
              <td><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>#</td>
              <td>
                  <input 
                    type="text"
                    class="form-control"
                    placeholder="Gallery type name">
              </td>
              <td>
                  <input 
                    type="text"
                    class="form-control"
                    placeholder="Gallery type description">
              </td>
              <td><i class="fa fa-plus fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-undo fa-lg" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  


<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>View Gallery Container Type</h5>
        <h5><i>Select container type to modify</i></h5>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Container Type Name</th>
              <th>Container Type Description</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let containerType of containerTypes">
              <td>{{containerType.container_type_id}}</td>
              <td>{{containerType.container_type_name}}</td>
              <td>{{containerType.container_type_description}}</td>
              <td><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>#</td>
              <td>
                <input 
                  type="text"
                  class="form-control"
                  placeholder="Gallery Container type name"
                >
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Gallery Container type description"
                >
              </td>
              <td><i class="fa fa-plus fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-undo fa-lg" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery Container</h5>
        <form>
          <input 
            type="text"
            class="form-control"
            placeholder="Gallery Container name"
          >
          <input
            type="text"
            class="form-control"
            placeholder="Gallery Container description"
          >
          <select
            class="form-control"
            size="1"
          >
            <option>Select Container Type</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery Object Type</h5>
        <form>
          <input 
            type="text"
            class="form-control"
            placeholder="Gallery object name"
          >
          <input
            type="text"
            class="form-control"
            placeholder="Gallery object description"
          >
          <select
            class="form-control"
            size="1"
          >
            <option>Select Mime Type</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>View Gallery Object Type</h5>
        <h5><i>Select gallery object to view or modify</i></h5>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Object Name</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let galleryObjectType of galleryObjectTypes">
              <td>{{galleryObjectType.gallery_object_type_id}}</td>
              <td>{{galleryObjectType.gallery_object_type}}</td>
              <td><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery Object</h5>
        <form>
          <input 
            type="text"
            class="form-control"
            placeholder="Gallery object name"
          >
          <input
            type="text"
            class="form-control"
            placeholder="Gallery object description"
          >
          <select
            class="form-control"
            size="1"
          >
            <option>Select Mime Type</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>Gallery Display Object</h5>
        <h5><i>Select gallery display object to view or modify</i></h5>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Id</th>
              <th>Display Object Name</th>
              <th>Description</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let displayObjectType of displayObjectTypes">
              <td>{{displayObjectType.display_object_type_id}}</td>
              <td>{{displayObjectType.display_object_type}}</td>
              <td>{{displayObjectType.display_object_description}}</td>
              <td><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>New Gallery</h5>
          <form>
            <input
              type="text"
              class="form-control"
              placeholder="Gallery name"
              required
            >
            <input
              type="text"
              class="form-control"
              placeholder="Gallery description"
              required
            >
            <input
              type="text"
              class="form-control"
              placeholder="Gallery caption"
            >
          </form>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="well bs-component">
        <h5>View Gallery</h5>
          <select 
            class="form-control"
            size="5"
          >
            <option>Select gallery to view or modify</option>
          </select>
      </div>
    </div>
  </div>
</div>

