<!-- Preloader -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>

<!-- Navigation start -->
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page bg-dark-90" role="navigation">
 <!-- navbar-transparent navbar-fixed-top  one-page-->
	<div class="bg-dark-90">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle bg-dark-90" data-toggle="collapse" data-target="#custom-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand bg-dark-90" href="index.html"> -->
				<!-- <img src="assets/images/logo-light.png"  alt="Genova"> -->
			<!-- </a> -->
		</div>
		<div class="collapse navbar-collapse" id="custom-collapse">
			<ul class="nav navbar-nav navbar-center">
				<li><a href="#totop">Home</a></li>
				<li><a href="#about" class="section-scroll">About</a></li>
				<li><a href="#prices" class="section-scroll">Services</a></li>
				<li><a href="#gallery" class="section-scroll">Gallery</a></li>
				<li><a href="#booking" class="section-scroll">Booking</a></li>
				<!--<li><a href="#contact" class="section-scroll">Contact</a></li>--> <!-- Create a contact section then re-enable -->
			</ul>
		</div>
	</div>
</nav>
<!-- Navigation end -->
<!-- Home start -->
<section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-60" data-background="assets/images/11.jpg">
	<div class="hs-caption">
		<div class="caption-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 text-left">
						<h3 class="hs-title-size-1 font-serif-i mb-30">
							Design / Film / Photography
						</h3>
						<h1 class="hs-title-size-4 font-alt mb-40">
							magnificent eyes
						</h1>
						<a href="#mailinglist" class="section-scroll btn btn-border-w">Join Mailing List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section >
<!-- Home end -->

<!-- Wrapper start -->
<div class="main">
<!-- MAILINGLIST -->
<section id="mailinglist" class="module bg-dark">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">
			<p class="font-serif-i">Again, thank you for your patience. We are feverishly working to get the website in order. In the mean time, please feel free to join our mailing list,  we will be able to notify you of changes to the site, prices and offer promotions and discounts in the future through the mailing list.
			<br>
			<br>
			<br>
			<br></p>
		</div>
	</div>
	<app-subscribe></app-subscribe>
</section>
<!-- /MAILINGLIST -->

<!-- PRICES -->
<section id="prices" class="module bg-dark-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class=" module-title-bg font-serif wow fadeIn animated">Services</h2>
			</div>
			<div class="col-sm-6">
				<p>A comprehensive list of our services. We update often, please be aware of changes.</p>
			</div>
		</div>
	<!-- <hr class="divider-w pt-20"> -->
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div role="tabpanel">
					<!-- Nav tabs start-->
					<ul class="nav nav-tabs font-alt" role="tablist">
						<li class="active">
							<a href="#design" data-toggle="tab"><span class="icon-tools-2"></span>Design</a>
						</li>
						<li>
							<a href="#film" data-toggle="tab"><span class="icon-camera"></span> Film</a>
						</li>
						<li>
							<a href="#photography" data-toggle="tab"><span class="icon-camera"></span> Photography</a>
						</li>
					</ul>
					<!-- Nav tabs end -->
					<!-- Tab panes start-->
					<div class="tab-content">
						<!-- Tab start -->
						<div class="tab-pane active" id="design">
							We apologize for the inconvenience we are reviewing the packages for the design services. We will update all packages once they are complete. Please remember to see the film tab or the photography tab for other services. Thanks.
						</div>
						<!-- Tab end -->
						<!-- Tab start -->
						<div class="tab-pane" id="film">
							We apologize for the inconvenience we are reviewing the packages for the film services. We will update all packages once they are complete. Please remember to see the design tab or the photography tab for other services. Thanks.
						</div>
						<!-- Tab end -->
						<!-- Tab start -->
						<div class="tab-pane" id="photography">
							<div class="col-sm-4 col-md-3 col-lg-3"> 
							<!-- Alt features item start -->
								<div class="alt-features-item">
									<div class="alt-features-icon">
										<span class="icon-camera"></span>
									</div>
								<h3 class="alt-features-title font-alt">Lavish</h3>
								Photography service consisting of a thirty minute photo shoot. Includes five edited images and a complimentary compact disc of the resulting photos. $200.
								</div>
								<!-- Alt features item end -->
								<!-- Alt features item start -->
								<div class="alt-features-item">
									<div class="alt-features-icon">
										<span class="icon-camera"></span>
									</div>
									<h3 class="alt-features-title font-alt">Magestic</h3>
									Photography service consisting of a one hour photo shoot. Includes ten edited images and a complimentary compact disc of the resulting photos. $300.
								</div>
								<!-- Alt features item end -->
							</div><!-- .col -->
							<div class="col-sm-4 col-md-3 col-lg-3">
							<!-- Alt features item start -->
								<div class="alt-features-item">
									<div class="alt-features-icon">
										<span class="icon-camera"></span>
									</div>
									<h3 class="alt-features-title font-alt">Radiant</h3>
									Photography service consisting of a two hour photo shoot. Includes twenty edited images, complimentary compact disc of the resulting photos, and photo album that includes the edits. $500
								</div>
								<!-- Alt features item end -->
								<!-- Alt features item start -->
								<div class="alt-features-item">
									<div class="alt-features-icon">
										<span class="icon-camera"></span>
									</div>
									<h3 class="alt-features-title font-alt">Royal</h3>
									Photography service consisting of a three hour photo shoot. Includes fifty edited images, complimentary compact disc of the resulting photos, and photo album that includes the edits. $1000
								</div>
								<!-- Alt features item end -->
							</div>
							<!-- .col end -->
						</div><!-- Tab pane end-->
					</div>
					<!-- Tab content end-->
				</div> 
				<!-- Tab panel end -->
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- /PRICES -->
<!-- BOOKING -->
<app-booking></app-booking>
<!-- END OF BOOKING -->
<!-- Team start -->
<section id="about" class="module bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class=" module-title-bg font-serif wow fadeIn">Our Team</h2>
			</div>
			<div class="col-sm-6">
				<p>Meet the owners of magnificent eyes</p>
			</div>
		</div><!-- .row -->
		<div class="row">
			<!-- Team item star -->
			<div class="col-sm-6 col-md-4 mb-sm-20 wow fadeInRight animated" data-wow-delay="800ms">
				<div class="team-item hover-light">
					<div class="team-image">
						<img src="assets/images/13.jpg" alt="">
							<div class="team-detail">
								<h5 class="font-alt">Hi all</h5>
								<p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>												<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-skype"></i></a>
								</div>
							</div>
					</div>
					<div class="team-descr">
						<div class="team-name font-alt">Jim Stone</div>
							<div class="team-role font-serif-i">Art Director</div>
					</div>
				</div>

			</div>
			<!-- Team item end -->
			<!-- Team item star -->
			<div class="col-sm-6 col-md-4 mb-sm-20">
				<div class="team-item hover-light">
					<div class="team-image">
						<img src="assets/images/13.jpg" alt="">
						<div class="team-detail">
							<h5 class="font-alt">Good day</h5>
							<p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
							<div class="team-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-skype"></i></a>
							</div>
						</div>
					</div>
					<div class="team-descr">
						<div class="team-name font-alt">Andy River</div>
							<div class="team-role font-serif-i">Creative director</div>
					</div>
				</div>
			</div>
			<!-- Team item end -->
			<!-- Team item star -->
			<div class="col-sm-6 col-md-4 mb-sm-20 wow fadeInLeft animated" data-wow-delay="800ms">
				<div class="team-item hover-light">
					<div class="team-image">
						<img src="assets/images/13.jpg" alt="">
						<div class="team-detail">
							<h5 class="font-alt">Hello</h5>
							<p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.</p>
							<div class="team-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-skype"></i></a>
							</div>
						</div>
					</div>
					<div class="team-descr">
						<div class="team-name font-alt">Adele Snow</div>
							<div class="team-role font-serif-i">Account manager</div>
					</div>
				</div>
			</div>
			<!-- Team item end -->
		</div><!-- .row -->
	</div>
</section>
		<!-- Team end -->
<app-footer></app-footer>

